.grad-background {
    background-color: rgba(176, 176, 255, 0.213); /* fallback if no gradient support */
    background-image: linear-gradient(to bottom right, #c3cfe2, #f5f7fa);
    height: 100vh;
    width: 100%;
  }

.bg-lblue {
    background-color: #e3ebf7 !important;

  }


.bg-dblue {
    background-color: #3b71ca;

  }
.c-dblue {
    color: #3b71ca;

  }
.bg-lyellow {
    background-color: #FFE082;

  }
.c-lyellow {
    color: #FFE082;

  }
.c-dyellow {
    color: #E4A11B;

  }
.c-red {
    color: #DC4C64;
  }

  

  .bg-vlyellow {
    background-color: #FFF8E1 !important;
  }
  .border-lyellow {
    list-style-position:inside;
    border-color: #FFE082;
    border-width: 2px important!;
    border-style: solid;
  }
  
  .bg-lightred {
    background-color: #FFCDD2 !important;

  }

  .bg-lgreen {
    background-color: #DCEDC8 !important;

  }

  .bi { vertical-align: -0.1em; }

  .nav-tabs .nav-item .nav-link {
    color: #555;
  }

  .nav-tabs .nav-item .nav-link.active {
    color: #3b71ca;
  }
  
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  opacity: .65;
  transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}